table{
    border: outset 8px;
    /* border-collapse: collapse; 
    /* width: 40%; */
}

tr{
    border: solid;
}

th{
    background-color: rgb(3, 116, 91);
    color: white;
    border: solid;
    
}

td{
    border: solid;
    background-color:  rgb(141, 231, 212) ;
    
}

.fila2{
    background-color: rgb(17, 192, 163); 
}

.columna2{
    text-align: center;
}

.columna3{
    text-align: center;
    background-color: rgb(17, 192, 163);
}