table{
    border: outset  8px;
    border-collapse: collapse;
    width: 40%;
}

tr{
    border: solid;
}

th{
    background-color: rgb(6, 167, 132);
    
}

td{
    border: solid black 1px;
    background-color:  rgb(141, 231, 212) ;
}